/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
* {
    --ion-color-primary: #FBBC05;
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
}